.view-accomplishments {
  height: 60%;
}

body {
  background-image: url('./stars.png');
  background-position: center top;
}

.signed-in {
  visibility: hidden;
  text-align: center;
  float: inherit;
}

.signed-out {
  text-align: center;
  float: inherit;
}

.title-bar {
  text-align: center;
  background-color: $light-blue;
}

.main-content {
  align-content: center;
  text-align: center;
  border-top: 20px;
  height: 50px;
}

.main-content-button {
  top: 50%;
}

footer {
  align-content: center;
  text-align: center;
  background-color: $light-blue;
  opacity: 70%;
  position:absolute;
  bottom:0;
  width:100%;
  height:20px;
}

.accomplishment-view {
  background-color: $light-blue;
  text-align: left;
  align-content: left;
  font-size: 20px;
}

.accomplishment-tab {
  background-color: $grayish-purple;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.tab-content {
  height: 200px;
  top: 20%;
  margin-top: 50px;
}

.Red {
  color: $red;
}

.Blue {
  color: $blue;
}

.Green {
  color: $green;
}

.Yellow {
  color: $yellow;
}

.Purple {
  color: $purple;
}
